# Виртуальное окружение
venv/
.venv/
.DS_Store
*/.DS_Store
# Локальная база данных
db.sqlite3

# Файл с секретами (мы создадим его позже)
.env

# Временные файлы Python
__pycache__/
*.pyc

# Папки для статики и медиа, которые генерируются
staticfiles/
media/